.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.image {
  max-width: 50%;
  background-color: #61dafb;
}

.image_div {
  display: flex;
  flex-flow: row wrap;
}

.image_desc {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin: 10px;
  padding: 5px;
}

.medium {
  font-style: italic;
  display: flex;
  flex-flow: row wrap;
  

}


button {
  background-color: rgb(213, 238, 238);
}

.love_counter {
  margin: 3px;
  padding: 2px;
}

.title_and_medium {
  display: flex;
  flex-flow: row wrap;
}

.time {
  margin: 1px;
  padding: 1px;
  margin-top:50px
}

.date {
  font-style: italic;
}

.all{
  display: flex;
  flex-flow: row wrap;
}

.mini_pics {
  max-width: 10%;
  margin: 3px;
  padding: 3px;
}

.flex_column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.flex_row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tan{
  background-color: rgb(245, 239, 223);
}

.whiteText {
  color: white;
}