body {
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li {
  font-size: large;
}

.uline {
  text-decoration: underline;
}

.main {
  background-color:#cefcf9;
  color: #ff9100;
  margin: 3px;
  padding: 3px;
  align-items: center;
}

.flex_row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.flex_column {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.oborder {
  border-radius: 25px;
  border: 5px solid  #ffae00;;
  padding: 30px;
  max-width: 100%;
}

.gborder {
  border-radius: 25px;
  border: 5px solid   rgb(119, 119, 119);;
  padding: 30px;
  max-width: 70%;
}

.gborder2 {
  border-radius: 25px;
  border: 5px solid   rgb(119, 119, 119);;
  padding: 30px;
  max-width: 90%;
}

.project_image{
  margin:5px;
  padding:3px;
  border-radius: 25px;
  max-width: 95%;
  border: 5px solid #ffae00;;
}

.project_image2{
  margin:5px;
  padding:3px;
  border-radius: 25px;
  max-width: 45%;
  max-height: 45%;
  border: 5px solid #ffae00;;
}


.spacing {
  margin: 3px;
  padding: 3px;
  
}

.title {
  font-size: 100;
  justify-content: center;
  align-items: center;
}

.propic {
  border-radius: 25px;
  max-width: 25%;
  border: 5px solid #ffae00;
}

.black {
  color: black;
}

.italic {
  font-style:italic;
}


.top_margin {
  margin-top: 90px;
}

.top_margin2 {
  margin-top: 50px;
}

.top_margin3 {
  margin-top: 15px;
}
.container {
  position: relative;
  text-align: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.white {
  color: #ff9100;
}

.decor{
  max-width: 15%;
}

.pencil {
  max-width: 15%;
}

.right_margin {
  margin-left: 50px;
}

.projects {
  display: flex;
  justify-content: center;
}

.otext {
  color:  #ff9100;
}

.vl {
  border-left: 6px solid rgb(119,119,119);
  height: 250px;
}

.dark {
  color: #1ca89f;
}

.harvard {
  color:rgb(216, 48, 48);
  
}

.harvard_img {
  margin:5px;
  padding:3px;
  border-radius: 25px;
  max-width: 95%;
  border: 5px solid rgb(216, 48, 48);;
}

.harvard_img:hover {
  transition: 0.2s ease-in-out;
  transform: scale(1.03);
}

.iterative {
  color: rgb(71, 151, 221);
  
}

.iterative_img {
  margin:5px;
  padding:3px;
  border-radius: 25px;
  max-width: 45%;
  max-height: 45%;
  border: 5px solid  rgb(71, 151, 221);;
}

.iterative_img:hover {
  transition: 0.2s ease-in-out;
  transform: scale(1.03);
}

.development {
  color: rgb(127, 177, 124);
  
}

.development_img {
  margin:5px;
  padding:3px;
  border-radius: 25px;
  max-width: 45%;
  max-height: 45%;
  border: 5px solid rgb(127, 177, 124);;
}

.development_img:hover {
  transition: 0.2s ease-in-out;
  transform: scale(1.03);
}

.personas {
  color:rgb(209, 127, 201);
  
}

.personas_img {
  margin:5px;
  padding:3px;
  border-radius: 25px;
  max-width: 95%;
  border: 5px solid rgb(209, 127, 201);;
}

.personas_img:hover {
  transition: 0.2s ease-in-out;
  transform: scale(1.03);
}

.abtesting {
  color: #ffae00;
  
}

.abtesting_img {
  margin:5px;
  padding:3px;
  border-radius: 25px;
  max-width: 45%;
  border: 5px solid  #ffae00;;
}

.abtesting_img:hover {
  transition: 0.2s ease-in-out;
  transform: scale(1.03);
}

.film{
  color: #1ca89f;
}

.icon {
  max-width: 20%;
}

.jumbo {
  background-color: #e9ffff;
}

.art {
  max-width: 70%;
  border-radius: 25px;
  border: 5px solid #ffae00;
}